
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;  /* centrar */
}

h1,
p
{
    
    color: #102B42;
    text-align: center;

}
h1{
    font-size: 5.3rem;
    font-weight: 800;
}

p{
    font-size: 7.5rem;
    font-weight: 400;
    margin: 1rem 0;
}


.buttons{    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.buttons button{

    margin-left: 10px;
}

button{
    border: none;
    outline: none;
    background: #102B42;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem 2rem;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

button:hover{
    background: #fff;
    color: #102B42;
    border: 1px solid #102B42;
    cursor: pointer;

}






